{% extends 'web/partials/base.html' %}

{% load static %}

{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'path/to/paypal/css/button.css' %}">

<script src="https://js.stripe.com/v3/"></script>
<script src="https://www.paypalobjects.com/api/checkout.js" async></script>
   <!-- Add your site or application content here -->
   <main>

      <!-- side toggle start -->
      <div class="fix">
         <div class="side-info">
           <div class="side-info-content">
             <div class="offset-widget offset-logo mb-40">
               <div class="row align-items-center">
                 <div class="col-9">
                   <a href="{% url 'index' %}">
                     <img
                       src="{% static 'assets/img/logo/logo-bl.png' %}"
                       alt="Logo"
                     />
                   </a>
                 </div>
                 <div class="col-3 text-end">
                   <button class="side-info-close">
                     <i class="fal fa-times"></i>
                   </button>
                 </div>
               </div>
             </div>
             <div class="mobile-menu d-lg-none fix"></div>
             <div class="offset-profile-action d-md-none">
               <div class="offset-widget mb-40">
                 <div class="action-list action-list-header1">
                   <div class="action-item action-item-cart">
                     <a href="{% url 'cart' %}" class="view-cart-button">
                       <i class="fal fa-shopping-bag"></i>
                       <span class="action-item-number">{{ request.session.cart_data_obj|length }}</span></a
                     >
                   </div>
                   <div class="action-item action-item-wishlist">
                     <a href="{% url 'wishlist' %}" class="view-wishlist-button">
                       <i class="fal fa-heart"></i>
                       <span class="action-item-number">{{ wishlist_count }}</span></a
                     >
                   </div>
                 </div>
               </div>
             </div>
             <div class="offset-widget offset_searchbar mb-30">
               <form action="{% url 'search' %}" class="filter-search-input" method="GET">
                 <input type="text" placeholder="Search keyword" name="q"/>
                 <button><i class="fal fa-search"></i></button>
               </form>
             </div>
           </div>
         </div>
      </div>
      <div class="offcanvas-overlay"></div>
      <div class="offcanvas-overlay-white"></div>

      <!-- side toggle end -->

      <!-- page title area start  -->
      <section class="page-title-area" data-background="{% static 'assets/img/bg/page-title-bg.jpg' %}">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="page-title-wrapper text-center">
                     <h1 class="page-title mb-10">Checkout</h1>
                     <div class="breadcrumb-menu">
                        <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                           <ul class="trail-items">
                              <li class="trail-item trail-begin"><a href="index.html"><span>Home</span></a></li>
                              <li class="trail-item trail-end"><span>Checkout</span></li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- page title area end  -->

      <!-- coupon-area start -->
      <section class="coupon-area pt-100 pb-30">
         <div class="container container-small">
            <div class="row">
               <div class="col-md-6">
                  <div class="coupon-accordion">
                     <!-- ACCORDION START -->
                     <h3>Returning customer? <span id="showlogin">Click here to login</span></h3>
                     <div id="checkout-login" class="coupon-content">
                        <div class="coupon-info">
                           <p class="coupon-text">Quisque gravida turpis sit amet nulla posuere lacinia. Cras
                              sed est
                              sit amet ipsum luctus.</p>
                           <form action="#" method="post">
                              <p class="form-row-first">
                                 <label>Username or email <span class="required">*</span></label>
                                 <input type="text" name=""/>
                              </p>
                              <p class="form-row-last">
                                 <label>Password <span class="required">*</span></label>
                                 <input type="text" />
                              </p>
                              <p class="form-row">
                                 <button class="fill-btn" type="submit">Login</button>
                                 <label>
                                    <input type="checkbox" />
                                    Remember me
                                 </label>
                              </p>
                              <p class="lost-password">
                                 <a href="#">Lost your password?</a>
                              </p>
                           </form>
                        </div>
                     </div>
                     <!-- ACCORDION END -->
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="coupon-accordion">
                     <!-- ACCORDION START -->
                     <h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3>
                     <div id="checkout_coupon" class="coupon-checkout-content">
                        <div class="coupon-info">
                           <form action="#">
                              <p class="checkout-coupon">
                                 <input type="text" placeholder="Coupon Code" />
                                 <button class="fill-btn" type="submit">Apply Coupon</button>
                              </p>
                           </form>
                        </div>
                     </div>
                     <!-- ACCORDION END -->
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- coupon-area end -->

      <!-- checkout-area start -->
      <section class="checkout-area pb-70">
         <div class="container container-small">
            <form action="https://www.sandbox.paypal.com" method="post">
               {% csrf_token %}
               <div class="row">
                  <div class="col-lg-6" id="shipping-info">
                     <div class="checkbox-form">
                        <h3>Billing Details</h3>
                        <div class="row">
                           <div class="col-md-12">
                              <div class="country-select">
                                 <label>Country <span class="required">*</span></label>
                                 <select name="country">
                                    <option value="volvo">bangladesh</option>
                                    <option value="saab">Algeria</option>
                                    <option value="mercedes">Afghanistan</option>
                                    <option value="audi">Ghana</option>
                                    <option value="audi2">Albania</option>
                                    <option value="audi3">Bahrain</option>
                                    <option value="audi4">Colombia</option>
                                    <option value="audi5">Dominican Republic</option>
                                 </select>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="checkout-form-list">
                                 <label>First Name <span class="required">*</span></label>
                                 <input type="text" placeholder="" name="firstname"/>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="checkout-form-list">
                                 <label>Last Name <span class="required">*</span></label>
                                 <input type="text" placeholder="" name="lastname"/>
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="checkout-form-list">
                                 <label>Company Name</label>
                                 <input type="text" placeholder="" name="companyname"/>
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="checkout-form-list">
                                 <label>Address <span class="required">*</span></label>
                                 <input type="text" placeholder="Street address" name="address"/>
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="checkout-form-list">
                                 <input type="text" placeholder="Apartment, suite, unit etc. (optional)" name="apartment"/>
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="checkout-form-list">
                                 <label>Town / City <span class="required">*</span></label>
                                 <input type="text" placeholder="Town / City" name="city"/>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="checkout-form-list">
                                 <label>State / County <span class="required">*</span></label>
                                 <input type="text" placeholder="" name="state"/>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="checkout-form-list">
                                 <label>Postcode / Zip <span class="required">*</span></label>
                                 <input type="text" placeholder="Postcode / Zip" name="postcode"/>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="checkout-form-list">
                                 <label>Email Address <span class="required">*</span></label>
                                 <input type="email" placeholder="" name="email"/>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="checkout-form-list">
                                 <label>Phone <span class="required">*</span></label>
                                 <input type="text" placeholder="Phone Number" name="phone"/>
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="checkout-form-list create-acc">
                                 <input id="cbox" type="checkbox" />
                                 <label>Create an account?</label>
                              </div>
                              <div id="cbox_info" class="checkout-form-list create-account">
                                 <p>Create an account by entering the information below. If you are a
                                    returning
                                    customer please login at the top of the page.</p>
                                 <label>Account password <span class="required">*</span></label>
                                 <input type="password" placeholder="password" />
                              </div>
                           </div>
                        </div>
                        <div class="different-address">
                           <div class="ship-different-title">
                              <label>Ship to a different address?</label>
                              <input id="ship-box" type="checkbox" />
                           </div>
                           <div id="ship-box-info">
                              <div class="row">
                                 <div class="col-md-12">
                                    <div class="country-select">
                                       <label>Country <span class="required">*</span></label>
                                       <select>
                                          <option value="volvo">bangladesh</option>
                                          <option value="saab">Algeria</option>
                                          <option value="mercedes">Afghanistan</option>
                                          <option value="audi">Ghana</option>
                                          <option value="audi2">Albania</option>
                                          <option value="audi3">Bahrain</option>
                                          <option value="audi4">Colombia</option>
                                          <option value="audi5">Dominican Republic</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="checkout-form-list">
                                       <label>First Name <span class="required">*</span></label>
                                       <input type="text" placeholder="" />
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="checkout-form-list">
                                       <label>Last Name <span class="required">*</span></label>
                                       <input type="text" placeholder="" />
                                    </div>
                                 </div>
                                 <div class="col-md-12">
                                    <div class="checkout-form-list">
                                       <label>Company Name</label>
                                       <input type="text" placeholder="" />
                                    </div>
                                 </div>
                                 <div class="col-md-12">
                                    <div class="checkout-form-list">
                                       <label>Address <span class="required">*</span></label>
                                       <input type="text" placeholder="Street address" />
                                    </div>
                                 </div>
                                 <div class="col-md-12">
                                    <div class="checkout-form-list">
                                       <input type="text" placeholder="Apartment, suite, unit etc. (optional)" />
                                    </div>
                                 </div>
                                 <div class="col-md-12">
                                    <div class="checkout-form-list">
                                       <label>Town / City <span class="required">*</span></label>
                                       <input type="text" placeholder="Town / City" />
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="checkout-form-list">
                                       <label>State / County <span class="required">*</span></label>
                                       <input type="text" placeholder="" />
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="checkout-form-list">
                                       <label>Postcode / Zip <span class="required">*</span></label>
                                       <input type="text" placeholder="Postcode / Zip" />
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="checkout-form-list">
                                       <label>Email Address <span class="required">*</span></label>
                                       <input type="email" placeholder="" />
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="checkout-form-list">
                                       <label>Phone <span class="required">*</span></label>
                                       <input type="text" placeholder="Postcode / Zip" />
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="order-notes">
                              <div class="checkout-form-list">
                                 <label>Order Notes</label>
                                 <textarea id="checkout-mess" cols="30" rows="10"
                                    placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="your-order mb-30 ">
                        <h3>Your order</h3>
                        <div class="your-order-table table-responsive">
                           <table>
                              <thead>
                                 <tr>
                                    <th class="product-image">Image</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-total">Total</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for product_id, item in cart_data.items %}
                                 <tr class="cart_item">
                                    <td class="product-image-1">
                                       <img src="{{item.image}}"
                                       alt="Product">
                                    </td>
                                    <td class="product-name">
                                       {{item.name}} <strong class="product-quantity"> × {{item.qty}}</strong>
                                    </td>
                                    <td class="product-total">
                                       <span class="amount">{{item.price}}</span>
                                    </td>
                                 </tr>
                                 {% endfor %}
                                 
                              </tbody>
                              <tfoot>
                                 <tr class="cart-subtotal">
                                    <th>Cart Subtotal</th>
                                    <td><span class="amount">${{ cart_total_amount|floatformat:2 }}</span></td>
                                 </tr>
                                 <tr class="shipping">
                                    <th>Shipping</th>
                                    <td>
                                       <ul>
                                          <li>
                                             <input type="radio" />
                                             <label>
                                                Flat Rate: <span class="amount">$7.00</span>
                                             </label>
                                          </li>
                                          <li>
                                             <input type="radio" />
                                             <label>Free Shipping:</label>
                                          </li>
                                          <li></li>
                                       </ul>
                                    </td>
                                 </tr>
                                 <tr class="order-total">
                                    <th>Order Total</th>
                                    <td><strong><span class="amount">${{ cart_total_amount|default:0|add:7 }}</span></strong>
                                    </td>
                                 </tr>
                              </tfoot>
                           </table>
                        </div>

                        <div class="payment-method">
                           <div class="accordion" id="checkoutAccordion">
                              <div class="accordion-item">
                                 <h2 class="accordion-header" id="checkoutOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                       data-bs-target="#bankOne" aria-expanded="true" aria-controls="bankOne">
                                       Direct Bank Transfer
                                    </button>
                                 </h2>
                                 <div id="bankOne" class="accordion-collapse collapse show"
                                    aria-labelledby="checkoutOne" data-bs-parent="#checkoutAccordion">
                                    <div class="accordion-body">
                                       Make your payment directly into our bank account. Please use your
                                       Order ID
                                       as the payment reference. Your order won’t be shipped until the
                                       funds have
                                       cleared in our account.
                                    </div>
                                 </div>
                              </div>
                              <div class="accordion-item">
                                 <h2 class="accordion-header" id="paymentTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                       data-bs-target="#payment" aria-expanded="false" aria-controls="payment">
                                       Cheque Payment
                                    </button>
                                 </h2>
                                 <div id="payment" class="accordion-collapse collapse" aria-labelledby="paymentTwo"
                                    data-bs-parent="#checkoutAccordion">
                                    <div class="accordion-body">
                                       Please send your cheque to Store Name, Store Street, Store Town,
                                       Store
                                       State / County, Store
                                       Postcode.
                                    </div>
                                 </div>
                              </div>
                              <div class="accordion-item">
                                 <h2 class="accordion-header" id="paypalThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                       data-bs-target="#paypal" aria-expanded="false" aria-controls="paypal">
                                       PayPal
                                    </button>
                                 </h2>
                                 <div id="paypal" class="accordion-collapse collapse" aria-labelledby="paypalThree"
                                    data-bs-parent="#checkoutAccordion">
                                    <div class="accordion-body">
                                       Pay via PayPal; you can pay with your credit card if you don’t have
                                       a
                                       PayPal account.
                                       
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="mt-20">
                              <button type="submit" class="fill-btn">Place order</button>
                           </div>
                        </div>
                        
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </section>
      <!-- checkout-area end -->
   </main>

   <script>
      var =shipping = '{{order.shipping}}'

      if(shipping == 'False') {
         document.getElementById('shipping-info').innerHTML = ''
      }
   </script>
{% endblock %}