{% extends 'web/partials/base.html' %}

{% load static %}

{% block content %}
   

   <!-- Include SweetAlert CSS and JS -->
   <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>

   <!-- Add your site or application content here -->
   <main>
      <!-- side toggle start -->
      <div class="fix">
         <div class="side-info">
           <div class="side-info-content">
             <div class="offset-widget offset-logo mb-40">
               <div class="row align-items-center">
                 <div class="col-9">
                   <a href="{% url 'index' %}">
                     <img
                       src="{% static 'assets/img/logo/logo-bl.png' %}"
                       alt="Logo"
                     />
                   </a>
                 </div>
                 <div class="col-3 text-end">
                   <button class="side-info-close">
                     <i class="fal fa-times"></i>
                   </button>
                 </div>
               </div>
             </div>
             <div class="mobile-menu d-lg-none fix"></div>
             <div class="offset-profile-action d-md-none">
               <div class="offset-widget mb-40">
                 <div class="action-list action-list-header1">
                   <div class="action-item action-item-cart">
                     <a href="{% url 'cart' %}" class="view-cart-button">
                       <i class="fal fa-shopping-bag"></i>
                       <span class="action-item-number">{{ request.session.cart_data_obj|length }}</span></a
                     >
                   </div>
                   <div class="action-item action-item-wishlist">
                     <a href="{% url 'wishlist' %}" class="view-wishlist-button">
                       <i class="fal fa-heart"></i>
                       <span class="action-item-number">{{ wishlist_count }}</span></a
                     >
                   </div>
                 </div>
               </div>
             </div>
             <div class="offset-widget offset_searchbar mb-30">
               <form action="{% url 'search' %}" class="filter-search-input" method="GET">
                 <input type="text" placeholder="Search keyword" name="q"/>
                 <button><i class="fal fa-search"></i></button>
               </form>
             </div>
           </div>
         </div>
       </div>
      <div class="offcanvas-overlay"></div>
      <div class="offcanvas-overlay-white"></div>

      <!-- side toggle end -->

      <!-- page title area start  -->
      <section class="page-title-area" data-background="assets/img/bg/page-title-bg.jpg">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="page-title-wrapper text-center">
                     <h1 class="page-title mb-10">FAQ</h1>
                     <div class="breadcrumb-menu">
                        <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                           <ul class="trail-items">
                              <li class="trail-item trail-begin"><a href="{% url 'index' %}"><span>Home</span></a></li>
                              <li class="trail-item trail-end"><span>FAQ</span></li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- page title area end  -->

      <!-- faq area start -->
      <section class="faq-area pt-120 pb-40 bg-grey fix">
         <div class="container container-small">
            <div class="row">
               <div class="col-lg-6">
                  <div class="faq-wrapper">
                     <div class="choose-right" data-aos="fade-left" data-aos-duration="1000">
                        <div class="accordion" id="accordionExample">
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne">
                                 <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    How to process the funtion for development?
                                 </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse show"
                                 aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                 <div class="accordion-body">
                                    <p>There are many variations of passages of available but the majority have suffered
                                       alteration in that some form by injected randomised words which don’t look even
                                       as
                                       slightly believable.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingTwo">
                                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Where should I incorporate my business?
                                 </button>
                              </h2>
                              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                 <div class="accordion-body">
                                    <p>Web fonts are often terrible for web performance and none of the font loading
                                       strategies are particularly effective to address that. Upcoming font options may
                                       finally deliver on the promise.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingThree">
                                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    How there are many variations of passages?
                                 </button>
                              </h2>
                              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                 <div class="accordion-body">
                                    <p>Front-end and design are remarkably complex these days. That’s why we invite
                                       kind,
                                       smart folks from the community to run online workshops for all of us to learn
                                       together.
                                       And we have new ones.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingFour">
                                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Everything to keep in mind when designing?
                                 </button>
                              </h2>
                              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                 data-bs-parent="#accordionExample">
                                 <div class="accordion-body">
                                    <p>Front-end and design are remarkably complex these days. That’s why we invite
                                       kind,
                                       smart folks from the community to run online workshops for all of us to learn
                                       together.
                                       And we have new ones.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingFive">
                                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Different Ways To Design Digital Product?
                                 </button>
                              </h2>
                              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                 data-bs-parent="#accordionExample">
                                 <div class="accordion-body">
                                    <p>Front-end and design are remarkably complex these days. That’s why we invite
                                       kind,
                                       smart folks from the community to run online workshops for all of us to learn
                                       together.
                                       And we have new ones.</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="faq-wrapper-2">
                     <div class="choose-right" data-aos="fade-left" data-aos-duration="1000">
                        <div class="accordion" id="accordionExample2">
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingSix">
                                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                    As designers, we are often burdened by the responsibility?
                                 </button>
                              </h2>
                              <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                 data-bs-parent="#accordionExample2">
                                 <div class="accordion-body">
                                    <p>There are many variations of passages of available but the majority have suffered
                                       alteration in that some form by injected randomised words which don’t look even
                                       as
                                       slightly believable.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingSeven">
                                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    How To Organize Product-Related Assets?
                                 </button>
                              </h2>
                              <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                                 data-bs-parent="#accordionExample2">
                                 <div class="accordion-body">
                                    <p>Web fonts are often terrible for web performance and none of the font loading
                                       strategies are particularly effective to address that. Upcoming font options may
                                       finally deliver on the promise.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingEight">
                                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    Choosing A New Serverless Database Technology?
                                 </button>
                              </h2>
                              <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                                 data-bs-parent="#accordionExample2">
                                 <div class="accordion-body">
                                    <p>Front-end and design are remarkably complex these days. That’s why we invite
                                       kind,
                                       smart folks from the community to run online workshops for all of us to learn
                                       together.
                                       And we have new ones.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingNine">
                                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    How To Boost Media Performance On A Budget?
                                 </button>
                              </h2>
                              <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                                 data-bs-parent="#accordionExample2">
                                 <div class="accordion-body">
                                    <p>Front-end and design are remarkably complex these days. That’s why we invite
                                       kind,
                                       smart folks from the community to run online workshops for all of us to learn
                                       together.
                                       And we have new ones.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingTen">
                                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                    Improving Your Team’s Communication?
                                 </button>
                              </h2>
                              <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                                 data-bs-parent="#accordionExample2">
                                 <div class="accordion-body">
                                    <p>Front-end and design are remarkably complex these days. That’s why we invite
                                       kind,
                                       smart folks from the community to run online workshops for all of us to learn
                                       together.
                                       And we have new ones.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingEleven">
                                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseEleven" aria-expanded="false"
                                    aria-controls="collapseEleven">
                                    How To Make More Money Selling Shopify?
                                 </button>
                              </h2>
                              <div id="collapseEleven" class="accordion-collapse collapse"
                                 aria-labelledby="headingEleven" data-bs-parent="#accordionExample2">
                                 <div class="accordion-body">
                                    <p>Front-end and design are remarkably complex these days. That’s why we invite
                                       kind,
                                       smart folks from the community to run online workshops for all of us to learn
                                       together.
                                       And we have new ones.</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- faq area end -->

      <!-- faq form start -->
      <section class="faq-form pt-50 pb-120">
         <div class="container container-small">
            <div class="row">
               <div class="col-12">
                  <div class="section-title text-center">
                     <h2 class="section-main-title mb-50">Still stuck ask directly</h2>
                  </div>
               </div>
            </div>
            <div class="row justify-content-center">
               <div class="col-lg-8">
                  <div class="contact-form">
                     <form id="FaForm" method="post">
                        {% csrf_token %}
                        <div class="row">
                           <div class="col-xxl-6 col-xl-6 col-md-6">
                              <div class="single-form-input">
                                 <input name="name" type="text" placeholder="Your Name">
                              </div>
                           </div>
                           <div class="col-xxl-6 col-xl-6 col-md-6">
                              <div class="single-form-input">
                                 <input name="email" type="email" placeholder="Email Adress">
                              </div>
                           </div>
                           <div class="col-xxl-6 col-xl-6 col-md-6">
                              <div class="single-form-input">
                                 <input name="phone" type="text" placeholder="Phone">
                              </div>
                           </div>
                           <div class="col-xxl-6 col-xl-6 col-md-6">
                              <div class="single-form-input">
                                 <input name="subject" type="text" placeholder="Subject">
                              </div>
                           </div>
                           <div class="col-xxl-12 col-xl-12 col-md-12">
                              <div class="single-form-input">
                                 <textarea placeholder="Write Message" name="message" cols="30" rows="9"></textarea>
                              </div>
                           </div>
                           <div class="col-xxl-12 col-xl-12">
                              <button type="button" class="fill-btn" id="submitForm">Send message</button>
                           </div>
                        </div>
                     </form>
                     <p class="ajax-response mb-0"></p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- faq form end -->

   </main>

   <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
   <script>
      $(document).ready(function () {
          $('#submitForm').click(function () {
              var formData = $('#FaForm').serialize();
  
              $.ajax({
                  type: 'POST',
                  url: '{% url "faq" %}',  // Replace with the actual URL of your contact view
                  data: formData,
                  success: function (data) {
                      // Handle success response using SweetAlert
                      Swal.fire({
                          icon: 'success',
                          title: 'Success',
                          text: 'Your message has been sent successfully!',
                      });

                      // Reset the form fields
                      $('#FaForm')[0].reset();
                  },
                  error: function (error) {
                      // Handle error response using SweetAlert
                      Swal.fire({
                          icon: 'error',
                          title: 'Error',
                          text: 'Error sending the message. Please try again later.',
                      });
                  }
              });
          });
      });
   </script>
 {% endblock %}