{% extends 'web/partials/base.html' %}

{% load static %}

{% block content %}


{% include 'web/messages.html' %}


<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Empty Wishlist</title>
   <style>

       h1 {
           color: #333;
       }

       #wishlist {
           text-align: center;
           max-width: 600px;
           margin: auto;
           background-color: #fff;
           padding: 20px;
           border-radius: 8px;
           box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       }

       #empty-message {
           color: #666;
       }
   </style>
</head>

   <!-- Add your site or application content here -->
   <main id="wishlist-list">

      <!-- side toggle start -->
      <div class="fix">
         <div class="side-info">
           <div class="side-info-content">
             <div class="offset-widget offset-logo mb-40">
               <div class="row align-items-center">
                 <div class="col-9">
                   <a href="{% url 'index' %}">
                     <img
                       src="{% static 'assets/img/logo/logo-bl.png' %}"
                       alt="Logo"
                     />
                   </a>
                 </div>
                 <div class="col-3 text-end">
                   <button class="side-info-close">
                     <i class="fal fa-times"></i>
                   </button>
                 </div>
               </div>
             </div>
             <div class="mobile-menu d-lg-none fix"></div>
             <div class="offset-profile-action d-md-none">
               <div class="offset-widget mb-40">
                 <div class="action-list action-list-header1">
                   <div class="action-item action-item-cart">
                     <a href="{% url 'cart' %}" class="view-cart-button">
                       <i class="fal fa-shopping-bag"></i>
                       <span class="action-item-number">{{ request.session.cart_data_obj|length }}</span></a
                     >
                   </div>
                   <div class="action-item action-item-wishlist">
                     <a href="{% url 'wishlist' %}" class="view-wishlist-button">
                       <i class="fal fa-heart"></i>
                       <span class="action-item-number">{{ wishlist_count }}</span></a
                     >
                   </div>
                 </div>
               </div>
             </div>
             <div class="offset-widget offset_searchbar mb-30">
               <form action="{% url 'search' %}" class="filter-search-input" method="GET">
                 <input type="text" placeholder="Search keyword" name="q"/>
                 <button><i class="fal fa-search"></i></button>
               </form>
             </div>
           </div>
         </div>
      </div>
      <div class="offcanvas-overlay"></div>
      <div class="offcanvas-overlay-white"></div>

      <!-- side toggle end -->

      <!-- page title area start  -->
      <section class="page-title-area" data-background="{% static 'assets/img/bg/page-title-bg.jpg' %}">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="page-title-wrapper text-center">
                     <h1 class="page-title mb-10">My Wishlist</h1>
                     <div class="breadcrumb-menu">
                        <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                           <ul class="trail-items">
                              <li class="trail-item trail-begin"><a href="{% url 'index' %}"><span>Home</span></a></li>
                              <li class="trail-item trail-end"><span>Wishlist</span></li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- page title area end  -->

      <!-- cart area start  -->
      <div class="cart-area pt-100 pb-100">
         <div class="container container-small">
             <div class="row">
                 {% if wishlist_items %}
                 <div class="col-12">
                     <form action="#">
                         <div class="table-content table-responsive">
                             <table class="table">
                                 <thead>
                                     <tr>
                                         <th class="product-thumbnail">Images</th>
                                         <th class="cart-product-name">Product</th>
                                         <th class="product-price">Unit Price</th>
                                         <th class="product-quantity">Add to cart</th>
                                         <th class="product-remove">Remove</th>
                                     </tr>
                                 </thead>
                                 <tbody>
                                     {% for item in wishlist_items %}
                                     <tr>
                                         <td class="product-thumbnail"><a href=""><img
                                                     src="{{item.product.image.url}}" alt="img"></a></td>
                                         <td class="product-name"><a href="{% url 'shop_detail' item.product.slug %}">{{item.product.name}}</a></td>
                                         <td class="product-price"><span class="">$</span><span
                                                 class="amount" id="current-product-price-{{ item.id }}">{{item.product.price|floatformat:2}}</span>
                                         </td>
                                         <td class="product-quantity">
                                             <input type="hidden" value="1" name=""
                                                 class="product-quantity" id="product-quantity-{{ item.id }}">
                                             <input type="hidden" value="{{ item.id }}" class="product-id-{{ item.id }}"
                                                 name="" id="">
                                             <input type="hidden" name="" value="{{ item.name }}"
                                                 class="product-name-{{ item.id }}" id="product-name">
                                             <input type="hidden" name="" value="{{ item.imageURL}}"
                                                 class="product-image-{{ item.id }}">
                                             <button type="submit" class="border-btn add-to-cart-btn"
                                                 data-index="{{item.product.id}}" id="add-to-cart-btn">Add to Cart</button>
                                         </td>
                                         <td class="product-remove">
                                             <button class="remove-btn" data-id="{{ item.id }}"><i
                                                     class="fa fa-remove"></i></button>
                                         </td>
                                     </tr>
                                     {% endfor %}
                                 </tbody>
                             </table>
                         </div>
                     </form>
                 </div>
                 {% else %}
                 <div class="text-center empty-wishlist-image">
                  <h2>No item from Wishlist</h2>
                  {% comment %} <img src="{% static 'assets/img/empty_wishlist.png' %}" alt="Empty Wishlist"> {% endcomment %}
                 </div>
                 {% endif %}
             </div>
         </div>
     </div>
     
      <!-- cart area end  -->

   </main>

   <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
   <script>
      $(document).ready(function () {
         $(".remove-btn").click(function (event) {
             event.preventDefault();
             
             var product_id = $(this).data('id');
             var url = "/remove-from-wishlist/" + product_id + "/";
     
             $.ajax({
                 type: "GET",
                 url: url,
                 success: function (data) {
                     // Update the wishlist count on the page
                     console.log("Wishlist count:", data.wishlist_count);
     
                     $(".wish-items-count").text(data.wishlist_count);
     
                     // Remove the item from the DOM without reloading the page
                     $(event.target).closest('tr').remove();
     
                 },
                 error: function (error) {
                     console.log("Error:", error);
                 }
             });
         });
     });
     
  </script>

{% endblock %}